
  <div class="container-fluid px-5 large">
    
    <div class="footer-widget-wrapper-box">
      <div class="footer-widget-wrapper d-block">




        <div class="footer-widget-box contact-info row d-flex " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
         
          <div class="col-12 col-md-3 px-2 mb-5">
            <h2 class="title">مشاريعنا المتاحة </h2>
            <ul class="footer-nav-list row d-flex gap-2">
            <li class="col-12 p-0"><a href="tel:920031969"><span>فرساي 15</span></a></li>
            <li class="col-12 p-0"><a href="mailto:info@versaisa.net"><span>فرساي 14</span></a></li>
            </ul>
          </div>

          <div class="col-12 col-md-3 px-2 mb-5">
            <h2 class="title">للتواصل</h2>
            <ul class="footer-nav-list row d-flex gap-3">
            <li class="col-12 p-0"><a href="tel:920031969"><i class="fa fa-phone"></i> <span>920031969</span></a></li>
              <li class="col-12 p-0"><a href="mailto:info@versaisa.net"><i class="fa fa-envelope"></i> <span>sales@versaisa.net</span></a></li>
              <li class="col-12 p-0"><a href="mailto:sales@versaisa.net"><i class="fa fa-envelope"></i> <span>info@versaisa.net</span></a></li>
              <li class="col-12 p-0"><i class="fa fa-map-marker-alt"></i> <span>Riyadh, Saudi Arabia</span></li>
            </ul>
          </div>
         

          <div class="col-12 col-md-3 px-2 mb-5">
            <h2 class="title">خريطة الموقع </h2>
            <ul class="footer-nav-list row d-flex gap-3 ">
            <li class="col-12 p-0"><a href=""> <span>الصفحة الرئيسية </span></a></li>
            <li class="col-12 p-0"><a href=""> <span>نبذة عن العقارية </span></a></li>
            <li class="col-12 p-0"><a href=""> <span>  مشاريعنا </span></a></li>
            </ul>
          </div>

          <div class="col-12 col-md-3 px-2 footer_list_social mb-5">
            <ul class="footer-nav-list d-flex justify-content-center gap-3 social-icons align-items-center flex-row justify-space-between">
            <li class="px-3" ><a href="#"> <i class="fa-brands fa-x-twitter"></i></a></li>
            <li class="px-3"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li class="px-3"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>

        </div>

  <!-- Copyright -->

          <div class="copyright-area row d-flex justify-content-between py-3">
    <div class="px-5 col-md-3 footer_logo">
      <a href="index.html"> <img src="assets/imgs/logo_1.png" width="60px" height="60px" class="normal-logo" alt="Site Logo"></a>
    </div>
            <div class="col-12 col-md-6 my-2  text-center">
      <div class="copyright-text">
        <p class="text font-16" style="color: #8A919C;"><span>© 2025 versaisa. جميع الحقوق محفوظة.</span></p>
      </div>
    </div>
    <div class="col-12 col-md-3 text-center ">
      <p class="font-16" style="color: #8A919C;"><a href="privacy.html">سياسة الخصوصية</a></p>
    </div>

  </div>

      </div>
    </div>
  </div>

