    <div class="header-main mx-5">
      <div class="container-fluid large ">
        <div class="header-area-2__inner d-flex flex-column">
          <div class="header__navicon">
            <button class="side-toggle"><img src="assets/imgs/icon/icon-2.webp" alt="image"></button>
          </div>
          
         
          
         
          <div class="header__logo w-100 d-flex align-items-center justify-content-between px-3 text-center align-items flex-row border_header">

            <div class="col-5">
              <hr class="my-4" style="border-top: 2px solid #fff;">
            </div>

            <a href="index.html" style="background-color: white;">
              <img src="assets/imgs/logo_1.png" width="60px" height="60px" class="normal-logo" alt="Site Logo">
            </a>

            <div class="col-5">
              <hr class="my-4" style="border-top: 2px solid #fff;">
            </div>

          </div>
 <div class="d-flex justify-content-between w-100">

            <div class="header__nav mx-0 pos1-center">
            <nav class="main-menu">
              <ul>
                <li><a href="#">عن فرساي</a></li>
                <li><a href="#">مشاريعنا</a></li>
              </ul>
            </nav>
          </div>
          
          <div class="button_header">
            <button class="">
              <a class=" header-button" href="#">
                تواصل معنا
              </a>
            </button>
          </div>
          
          </div>
          

        </div>
      </div>
    </div>